.App {
  align-items: center;
}


.box {
  max-width: 200px;
  height: 40px;
  border: 2px solid black;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;


  box-shadow: black 0px 1px 4px;
}

button {
  padding: 21px;
  margin: -20px -748px 0 839px;
  font-size: 20px;

}